function geojson_popup(event_name) {
  // takes path to geojson file, which can be found for a given event by found
  var path = overlay_res['events/'+ event_name + "/"].geojson
  $.getJSON(path, function(data){
    var object_layer = L.geoJson(data).addTo(map);
    var selector = "[data='" + event_name + "']";
    $(selector)[0].gjobject = object_layer;
  })//, function(data, event_name){
  //});
}

overlay_res = {
<%event_res_builder.each do |event|%>
  <%path = event.path.gsub(".html","/")%>
  "<%=path%>":{
    title: "<%=event.metadata[:page]["title"]%>",
    resources: [
    <%resources = sitemap.resources.select{|resource| resource.path.start_with?(path)}%>
    <%resources.each do |resource| %>
      <%url = resource.path%>
      <%if ['.jpg','.jpeg','.png','.gif','.svg'].include? resource.ext.downcase%>
        <%res_type = "image"%>
      <%elsif resource.ext.downcase == ".pdf"%>
        <%res_type = "inline"%>
        <%url = "<div class='embeddedpdf'><embed src='"+url+"' type='application/pdf'></div>"%>
      <%else next%>
      <%end%>
      {
      src: "<%=url%>",
      type: "<%=res_type%>"
      },
    <%end%>
    ],
    geojson:
    <%if gj = resources.select{|resource| resource.ext.downcase == '.geojson'}.first%>
      '<%=gj.path%>'
    <%else%>
      ''
    <%end%>
  },
<%end%>
}
