---
title: Hulme History
---
<nav id='menu-ui' class='menu-ui'></nav>

<section id='timeline-section'>
  <div id='crossbar'> </div>
  <div id='timeline'>
    <div id='tl-content'>
      <ol class="decades">
        <% timeline = all_events(1750, 2015) %>
        <% timeline.each do |decade, events| %>
          <li class="decade" value="<%= decade %>">
            <time class="decade"><%= decade %></time>
            <% if events.length > 0 %>
              <ol class="events">
              <% events.each do |event| %>
                <% md = event.metadata[:page] %>
                <li class="event item block <%= md["timeline"] %>"
                    lat="<%=md['lat']%>"
                    lng="<%=md['lng']%>"
                    data="<%=event.path.split('/')[-1].split('.')[0]%>"
                    value="<%= md["start"] %>"><%= md["title"] %></li>
              <% end %>
              </ol>
            <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
  <div id='listholder'>
    <ol class="button-group">
    </ol>
  </div>
</section>

<section id='map'></section>

<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoia2ltYWRhY3R5bCIsImEiOiJCYzdNTTR3In0.hkjyGpEFYdSPrVp3e717eA';
var map = L.mapbox.map('map').setView([53.468,-2.260], 15);
var layers = document.getElementById('menu-ui');

// Colour defs
var buildings = "#7FBB71";
var blocks = "#CDCCCC";

// Base map
addLayer(L.mapbox.tileLayer('mapbox.light'), 'Base Map', 1);

// 1871 map layers
var group1871 = L.layerGroup();
addLayer(group1871, '1871', 2);
// Async load so that the styles work properly for now.
// Later we can edit the style info in the geojson directly.
$.getJSON('./gis/1871_figure_ground.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group1871);
  l.setStyle({fillColor: buildings});
});

$.getJSON('./gis/1871_blocks.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group1871);
  l.setStyle({fillColor: blocks});
});


// 1990 map layers
var group1990 = L.layerGroup();
addLayer(group1990, '1990', 3);

$.getJSON('./gis/1990_figure_ground.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group1990);
  l.setStyle({fillColor: buildings});
});

$.getJSON('./gis/1990_blocks.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group1990);
  l.setStyle({fillColor: blocks});
});

// 2015 layers
var group2015 = L.layerGroup();
addLayer(group2015, '2015', 4);

$.getJSON('./gis/2015_blocks.geojson', function(data) {
  l = L.mapbox.featureLayer(data);
  l.addTo(group2015);
  l.setStyle({fillColor: blocks});
});

function addLayer(layer, name, zIndex) {
  layer
  .setZIndex(zIndex)
  .addTo(map);

  // Create a simple layer switcher that
  // toggles layers on and off.
  var link = document.createElement('a');
  link.href = '#';
  link.className = 'active';
  link.innerHTML = name;

  link.onclick = function(e) {
    e.preventDefault();
    e.stopPropagation();

    if (map.hasLayer(layer)) {
      map.removeLayer(layer);
      this.className = '';
    } else {
      map.addLayer(layer);
      this.className = 'active';
    }
  };

  layers.appendChild(link);
}
$('#timeline').mousedown(timeline_mousedown);

$("li.event.item").each(function(){
  this.activate = function(){
    attrs = this.attributes;
    lat = attrs['lat'].value;
    lng = attrs['lng'].value;
    $(this).addClass("active");
    if (lat && lat != "") {
      var latlng = new L.latLng(parseFloat(lat),
                        parseFloat(lng))
      this.cleanup = popup_text(this.getAttribute('data'),latlng)
    }
  }
  this.deactivate = function(){
    $(this).removeClass("active");
    // TODO: Eliminate auld popups!
  }
});
</script>
